:root {
    --main-color: rgb(97, 121, 70);
    --accent-color: rgb(230, 151, 151);
    --light-accent-color: rgb(255, 226, 226, 0.35);
    --neutral-color: rgb(229, 225, 254);
    --grey: rgb(158, 157, 171);
    --bg-color: rgb(247, 247, 247);
    --light-color: rgb(255, 255, 255);
    --sans-serif-font: 'Lato', sans-serif;
    --serif-font: 'Noto Serif', serif;
}

/* Reset */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Comportamiento suavizado para desplazamientos dentro de la página */
html {
    scroll-behavior: smooth;
}

/**************************************** Reglas para conseguir un sticky footer */
html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

/**************************************** Reglas generales */
body {
    font-family: var(--sans-serif-font);
    font-weight: 400;
    color: var(--main-color);
}
::selection {
    background-color: var(--neutral-color);
}
h1,
h2,
h3,
h4 {
    font-weight: 600;
    font-family: var(--serif-font);
}
h1 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
}
h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h3 {
    font-size: 1.45rem;
    margin-bottom: 1rem;
}
h4 {
    font-size: 1.2rem;
}
p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align:justify ;
}
ol
ul {
    margin-left: 1.5rem;
    font-size: 1rem;
}
a {
    color: var(--accent-color);
    text-decoration: none;
    border-bottom: 1px dotted;
    padding-bottom: 2px;
}
a:hover {
    color: var(--main-color);
}

@media (min-width: 992px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
    }
    ol,
    ul {
        font-size: 1.2rem;
    }
}

/* Multimedia responsive */
.img-fluid {
    max-width: 100%;
    height: auto;
    display: inline;
}
iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: 0;
}

/**************************************** Header y menú de navegación */
header.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 10vh;
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: var(--light-color);
    box-shadow: 1px 5px 5px 0px rgba(255, 255, 255);
}
div.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1rem;
}
nav li:not(:last-child)::after {
    margin-left: 1rem;
    margin-right: 1rem;
    content: " | ";
}
.top a {
    font-weight: 700;
    color: var(--main-color);
    border-bottom: none;
}
.top a:hover {
    color: var(--accent-color);
}

/**************************************** Footer */
footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--main-color);
    color: var(--light-color);
    text-align: center;
}
footer div:first-child {
    margin-bottom: 1rem;
}
footer div:first-child p {
    padding-top: 1rem;
    font-size: .9rem;
    margin: 0;
}
footer ul {
    margin-left: 0;
    list-style-type: none;
}
footer ul li {
    padding-bottom: .5rem;
    font-size: .9rem;
}
footer ul.social li {
    display: inline-block;
}
footer a {
    color: var(--light-color);
    border-bottom: none;
}
footer a:hover {
    color: var(--neutral-color);
}
footer ul.social li img:hover {
    opacity: 0.7;
}

@media(min-width: 992px) {
    .flex-footer {
        display: flex;
        justify-content: flex-end;
        text-align: left;
        align-items: center;
    }
    footer .footer-right {
        text-align: right;
    }
    footer ul.social {
        margin-bottom: 0.5rem;
    }
    footer ul.legal li {
        display: inline-block;
        padding-bottom: 0;
    }
    footer ul.legal li::after {
        content: " | ";
        padding-right: .5rem;
        padding-left: .5rem;
    }
    footer ul.legal li:last-child::after {
        content: "";
        padding-right: 0;
        padding-left: 0;
    }
}

/**************************************** Main */
main {
    margin: calc(10vh + 3rem) 0;
}
main.portada {
    margin: 0 ;
}

/****************************************  Contenidos acotados */
.container-fluid {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}
.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 992px) {
    .container-fluid {
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }
}

/**************************************** Portada */
.portada-image {
    height: 84.1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url(../img/Soria_catedral.jpg);
    background-size: cover;
    background-position: center;
    color: var(--main-color);
    
}

.portada-image .copyright{
    position: absolute;
    bottom: 10px; 
    right: 10px;  
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 5px 10px;
    font-size: 12px; 
    border-radius: 5px;
    }

.portada-image p.lema {
    font-size: 3rem;
    line-height: 1.1em;
    font-weight: 900;
    color: var(--light-color);
    background-color: rgb(1, 1, 1, 0.5);  
}

main.portada section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (min-width: 992px) {
    .portada-image p.lema {
        font-size: 4.2rem;
        max-width: 750px;
    
    }
    .top nav ul{
        font-size: 0.85rem;

    }
}

/********************* Presentación ****************************/

.home .portada-image{
    height: 54.1vh;
}

.home .portada-image p.lema{
    background-color: rgb(1, 1, 1, 0.5);
}

section.aims {
    background-color: var(--light-accent-color);
}
.aims-content {
    margin-bottom: 3rem;
}
.aims-img .copyright {
    font-size: 0.65rem;
    text-align: right;
}
.button {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem .8rem;
    background-color: var(--main-color);
    color: var(--light-color);
    font-family: var(--sans-serif-font);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}
.button:hover {
    background-color: var(--accent-color);
    color: white;
}

@media (min-width: 768px) {
    .form {
        width: 70%;
    }
    div.aims-content {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    div.aims-img {
        width: 30%;
    }
    div.aims-text {
        width: 70%;
    }
    .aims-img {
        transform: rotate(-5deg);
    }
    .aims-img.even {
        transform: rotate(5deg);
        order: 1;
    }
}

@media (min-width: 992px) {
    .portada-image p.lema {
        font-size: 4.2rem;
        max-width: 750px;
    }
    div.intro-presentacion {
        justify-content: space-between;
        gap: 4rem;
    }
    div.intro-presentacion>div {
        width: 100%;
    }
    div.aims-text p {
        font-size: 1.5rem;
    }
}

/**************************************** Páginas presentación, categorias y enlaces */
.card-content {
    padding: 15px;
}
.card-content h2 a, .card-content h4 a   {
    color: var(--main-color);
    border-bottom: none;
}
.card-content h2 a:hover, .card-content h4 a:hover {
    color: var(--accent-color);
}
.card-content h2 {
    margin-bottom: .5rem;
    margin-top: 0;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.2;
}
.grid-categorias>article,
.grid-videos>article {
    margin-bottom: 3rem;
    background: var(--light-color);
    border: 1px solid var(--neutral-color);
}
.grid-categorias>article:last-child,
.grid-videos>article:last-child {
    margin-bottom: 0;
}
.meta-data {
    margin-bottom: 2px;
    font-size: 0.9rem;
    color: var(--grey);
}
.card-image {
    position: relative;
}

.card-image a {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: .5rem;
    background-color: var(--main-color);
    border-bottom: none;
    color: var(--light-color);
    font-size: 0.8rem;
}
.card-image .copyright {
    font-size: 0.6rem;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.5);
    padding: 2px 5px;
}
.card-image a:hover {
    background: var(--accent-color);
}
.categorias-navigation {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
    list-style-type: none;
}
.categorias-navigation li a {
    display: inline-block;
    padding: .5rem;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: var(--light-color);
    text-decoration: none;
}
a.more {
    display: inline-block;
    margin-top: 0;
}
a.more::after {
    content: '\003E';
    padding-left: .5rem;
}
.categorias-navigation li a:hover,
.categorias-navigation li a.current {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--light-color);
}

@media (min-width: 768px) {
    .grid-categorias>article,
    .grid-videos>article {
        margin-bottom: 0;
    }
    .grid-categorias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
    .grid-videos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}

@media (min-width: 1200px) {
    .grid-categorias {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
    }
    .grid-categorias>article:first-child {
        grid-column: 1 / span 2;
    }
    .grid-videos {
        grid-template-columns: repeat(3, 1fr);
    }
}

/**************************************** Página categoria */
ul.breadcrumb {
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    list-style: none;
    font-size: .8rem;
}
ul.breadcrumb li {
    display: inline-block;
}
ul.breadcrumb li+li {
    padding-left: .25rem;
}
ul.breadcrumb li+li::before {
    content: '\003E';
    padding-right: .25rem;
    color: var(--main-color);
}
ul.breadcrumb li a {
    border-bottom: none;
    color: var(--main-color);
}
ul.breadcrumb li a:hover {
    color: var(--accent-color);
}
ul.breadcrumb li.active {
    color: var(--main-color);
    font-weight: 700;
}
.categorias-post {
    padding: 1rem;
    background-color: var(--light-color);
}
.categorias-post header {
    padding: 0.7rem;
    background-color: var(--light-accent-color);
}
.categorias-post header a {
    color: var(--main-color);
    border-bottom: none;
}
.categorias-post header a:hover {
    color: var(--accent-color);
}
.categorias-post h1 {
    line-height: 1.2;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.categorias-post h2 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.categorias-post .intro {
    margin: 3rem 0;
    font-size: 1.6rem;
}
.categorias-post blockquote {
    border-left: 3px solid var(--accent-color);
    padding-left: 2rem;
    margin-bottom: 1rem;
}
.last-posts article {
    margin-bottom: 2rem;
    background-color: var(--light-color);
}
.last-posts article .card-content {
    padding: 10px;
}
aside h3 {
    font-family: var(--sans-serif-font);
}
aside section:last-of-type ul {
    margin-left: 0;
    list-style-type: none;
    font-size: .8rem;
}
aside section:last-of-type ul li {
    display: inline-block;
}
aside section:first-of-type {
    margin-top: 3rem;
}
aside section:last-of-type a {
    display: inline-block;
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: .25rem;
    background-color: var(--light-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    text-decoration: none;
}
aside section:last-of-type a:hover {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--light-color);
}

@media (min-width: 768px) {
    .last-posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (min-width: 1200px) {
    .intro {
        font-size: 1.6rem;
        text-align: justify;
    }
    blockquote {
        margin-left: 3rem;
        padding-left: 2rem;
    }
    blockquote p {
        font-size: 1.6rem;
    }
    .grid-categorias-post {
        display: grid;
        grid-template-columns: 65% auto;
        gap: 4rem;
    }
    .last-posts {
        margin-top: 0;
        display: block;
    }
    aside section:first-of-type {
        margin-top: 0;
    }
    aside section:last-of-type ul {
        display: block;
    }
    aside section:last-of-type ul li {
        display: inline-block;
    }
}